// Color
$color-primary: #55c57a;
$color-primary-light: #7ed568;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-third-light: #1488cc;
$color-third-dark: #2b32b2;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;
$color-grey-dark: #777777;
$color-white: #ffffff;
$color-black: #000000;
$color-accent: #e67e22;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Font wight
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;

// Font size
$default-font-size: 1.6rem;
