.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 5rem;
        transition: all 0.2s;
        position: relative;
        font-size: $default-font-size;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 1.5rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 0.75rem rgba($color-black, 0.1);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }
    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: move_in_bottom 1s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}

// BUtton text
.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        padding: 3px 10px;
        position: relative;
        transition: all 0.2s;
    }

    &:after {
        position: absolute;
        content: "";
        height: 1px;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 0;
        width: 83%;
        background: $color-primary;
        transition: all 0.2s;
    }

    &:hover {
        // background-image: linear-gradient(
        //     to right,
        //     $color-primary-light,
        //     $color-primary-dark
        // );
        background: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-2px);

        &:after {
            opacity: 0;
        }
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
        transform: translateY(-1px);
    }
}

.test {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        text-decoration: none;
        display: inline-block;
        transition: all 0.2s;
        padding: 0 2rem;
    }
    &:hover {
        background-color: orange;
        color: red;

        .move {
            margin-left: 2rem;
            transform: translateX(1rem);
        }
    }
}
