.composition {
    position: relative;
    &__photo {
        width: 60%;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.4);
        border-radius: 4px;
        transition: all .4s;
        position: absolute;
        outline-offset: 1rem;

        &--p1 {
            left: 0;
        }

        &--p2 {
            right: 0;
            top: 3rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1rem solid $color-primary;
            -moz-outline-radius: 4px;
            transform: scale(1.1) translateY(-5px);
            box-shadow: 0 2.2rem 4.4rem rgba($color-black, 0.44);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.9);
    }
}
