*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* Padding and height is not added to total width or height for box */
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
